#!/bin/bash
#SBATCH --job-name=yxh      #作业名称
#SBATCH --partition=vip1                  #选择资源分区
#SBATCH -N 1                                  #申请计算节点数
#SBATCH --ntasks-per-node=1      #申请每个节点24核运行
#SBATCH --gres=gpu:1                   #申请2张GPU卡
#SBATCH --output=%j.out                #作业标准输出
#SBATCH --error=%j.err                   #作业标准报错信息
#SBATCH --time=144:00:00               #申请运行时间


module load anaconda3        #加载anaconda变量
source activate pytorch_lstm     #激活conda环境
python 01_train2_level_contain1.py -vertex 5 -lr 0.0005 -reward_scale 1.0 0.01 -seed 0 -n_step 1024 -model_dir "Baseline_hill_8nodes_x5_x1_20220324_2"


